<div class="sticky-top top-bar">
	<lfr-drop-zone data-lfr-drop-zone-id="topBar"></lfr-drop-zone>
</div>

<div class="open sidebar-layout">
	<nav aria-label="${configuration.sidebarAriaLabel}" class="sidebar-container">
		<div class="position-relative sidebar">
			<div class="d-flex justify-content-end p-2 pb-0 sidebar-close-button-container">
				<button class="lfr-portal-tooltip btn btn-monospaced btn-outline-borderless btn-outline-secondary p-1 sidebar-close-button sr-only sr-only-focusable" data-tooltip-align="bottom" disabled title="${languageUtil.get(locale, 'close-product-menu')}" type="button">
					[@clay["icon"] symbol="times" /]
				</button>
			</div>

			<div class="mt-2 px-0 sidebar-body">
				<lfr-drop-zone data-lfr-drop-zone-id="sidebarBody"></lfr-drop-zone>
			</div>
		</div>
	</nav>

	<div class="content">
		<lfr-drop-zone data-lfr-drop-zone-id="content"></lfr-drop-zone>
	</div>
</div>